{% extends './base.html' %}
{% load static %} 

{% block content %}

  <div class="row">
    <div class="column">
      <img id="legs" class="center" src="{% static '../static/images/leg.jpg' %}" alt="home" />
    </div>
    <div class="columm">
      <h1 id="buggy_head" class="buggy">About the project</h1>
      <br>
      <div class="buggy">
        <p>This project was created in reletively little, time with extremely limited experience,</p>
        <p>yet it still came out fairly well, a pleasent surpise to be certain...</p>
        <br>
        <p>Frankly, I wanted an easy ride. I am far better at backend tech (API, logic, databasing)</p>
        <p>than I am with front end (HTML, CSS, React). So I wanted to do a python based project.</p>
        <br>
        <p>I already had experience with django and OOP so I thought I'd try it and my god,</p>
        <p>I hate front end.</p>
        <br>
        <p>I could go on about the issues I face in developing the front end, but let's not shall we?</p>
        <p>After all, the codebase is publically available on github, so go check out my suffering :D</p>
        <br>
        <p>The goal for the project, is to raise awareness about clean alternatives.</p>
        <p>This is because most people I speak to seem completely oblivious to these alternatives.</p>
        <p>At this time, the switch is needed, so I hope that this site will inform users on what they can do</p>
        <p>That's all for now, FJTDL</p>
        <p>(◕‿◕)╭∩╮</p>
      </div>
    </div>
  </div>
{% endblock %}