{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link href="{% static 'emission_calculator/styles.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Emitls</title>
  </head>
  <body>
    <header class="centre">
      <h1><a href="{% url 'home' %}">EMITLS</a></h1>
      <nav id="nav" class="nav_bar">
        <ul>
          <li><a href="{% url 'calculate' %}" >Calculate</a></li>
          <li><a href="{% url 'options' %}">Options</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'signup' %}">Signup</a></li>
        </ul>
      </nav>
    </header>
    {% block content %}
    {% endblock %}
  </body>
</html>