{% extends './base.html' %}
{% load static %} 

{% block content %}

<img class="fit" src="{% static '../static/images/electric_car.png' %}" alt="EV" class="">

<h2>Electric cars</h2>
<p>Electric cars are an excellent way to slash your emissions and your fuel prices at the same time!</p>
<p>However, most people are turned off by what they see as the ridiculously high prices and lacking charging infrastructure.</p>
<br>
<p>However, what a lot of NZ citizens don't seem to realise is that you can actually get discounts on EVs from the government and face a tax on emission heavy cars.</p>
<p>Furthermore, the average price of charging your EV is around $0.30/Litre! For the average distance travelled in a car each year, it will only cost you $300 in electricity for the WHOLE YEAR.</p>

{% endblock %}