/* General rules */

li {
  display: inline;
}

a {
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  left: 400px;
  margin-left: 20px;
  
}

nav {
  background-color: #73FF50;
  margin: 50px 10px;
}

/* Class rules */

.centre {
  text-align: center;
}

.nav_bar {
  
}

/* ID rules */
#hills {
  width: 1000px;
  margin: 0 auto;
}